@media (max-width: 479px){
 
.cont{
    max-width: 479px;
    margin: 0 auto;
    padding: 0;
}

header{
    padding-top: 10px;
}

.header{
    padding-bottom: 10px;
}

.header img {
    padding-right: 10px;
}

.info_header div {
    display: block;
}

.content{
    align-items: flex-start;
}

.info_header div>a {
    font-size: 10px;
    padding: 3px 6px 3px;
}
.info_header ul{
    padding-bottom: 10px;
}

h1{
    font-size: 20px;
}
.calendar{
    display: block;
}

.calendar>div{
    margin-right: 0;
}

input{
    margin: 0;
    margin-bottom: 3px;
}

    /*---------------
        Main section
    ---------------*/


h2{
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    }
.info>p{
    font-size: 9px;
    } 
   
.today_statistic{
    padding: 0;
    padding: 5px 0 0 10px;
}

.info{
    display: inline-block;
}

.wiew{
    padding-right: 10px;
    padding-top: 3px;
}

.grid{
  text-align: center;
}
 
.load-more-container .load-more-btn{
    margin: 0 auto;
}
}
